option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name:  LE_SSL_DOMAIN
    value: placeholder
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LE_EMAIL
    value: placeholder
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: LE_INSTALL_SSL_ON_DEPLOY
    value: false

container_commands:
  10_installcertbot:
    command: "sudo cp .ebextensions/9-letsencrypt-ssl-install.sh /opt/elasticbeanstalk/hooks/appdeploy/post/9-letsencrypt-ssl-install.sh && sudo chmod +x /opt/elasticbeanstalk/hooks/appdeploy/post/9-letsencrypt-ssl-install.sh"
  20_cpssltemplate:
    command: "sudo cp .ebextensions/ssl.conf.template /etc/httpd/conf.d/ssl.conf.template"
  30_postrenews3:
    command: "sudo cp .ebextensions/9-post-renew-cp-s3.sh /etc/9-post-renew-cp-s3.sh && sudo chmod +x /etc/9-post-renew-cp-s3.sh"
  40_cron_job:
    command: "crontab /tmp/cronjob"

Resources:
  icmpSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: icmp
      ToPort: 0
      FromPort: 8
      CidrIp: 0.0.0.0/0

  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  "/tmp/cronjob" :
    mode: "000777"
    owner: ec2-user
    group: ec2-user
    content: |
      # renew ssl
      0 3 * * 0 /certbot/certbot-auto renew
      # post install ssl s3
      0 3 * * 0 /etc/9-post-renew-cp-s3.sh

    encoding: plain